---
layout: default
ref: campaigns
---

{% capture title %}
    {% translate campaigns.title %}
{% endcapture %}
{% include hero-image.html image="/assets/images/projects.jpg" title=title %}


<section id="campaigns">
   <div class="section-block grid-container  fade-in-progressively no-padding-top pb-30" data-layout-mode="masonry" data-grid-ratio="1.5" data-animate-filter-duration="700" data-animate-resize data-animate-resize-duration="700">
      <div class="row">
         <div class="column width-12">
            <div class="row grid content-grid-4 pb-50">
               {% for campaign in site.campaigns %}
               <div class="grid-item container-projects grid-sizer">
                  <div class="item-description">
                     <h3 class="project-title">{{ campaign.title }}</h3>
                     <span class="project-description">{{ campaign.summary }}</span>
                     <a href="{{ campaign.url | prepend: site.baseurl }}" class="read-more hvr-underline-from-center">Ver más</a>
                  </div>
               </div>
               {% endfor %}
            </div>
         </div>
      </div>
   </div>
</section>
