---
layout: default
title: "Cronología de la crisis de la desigualdad en Chile y evidencia anti militarización"
description: "Las últimas manifestaciones en Chile son la expresión más reciente de democracias en crisis, que no están representando a su ciudadanía y de una desigualdad que las deslegitima."
img: no-guerra.png
---

<!-- Content -->
<div class="content clearfix">
   <!-- Full Width Slider Section -->
   <section class="section-block featured-media window-height tm-slider-parallax-container">
      <div class="tm-slider-container full-width-slider" data-parallax data-parallax-fade-out data-animation="slide" data-scale-under="1140" data-scale-min-height="500">
         <ul class="tms-slides">

           <li class="tms-slide" data-image data-force-fit data-overlay-bkg-color="#000000" data-overlay-bkg-opacity="0.35">
              <div class="tms-content">
                 <div class="tms-content-inner center v-align-middle">
                    <div class="row">
                       <div class="column width-12">

                          <h1 class="title-large color-white mb-30">
                             <span class="tms-caption monotype tms-caption-background-3 responsive-color" data-animate-in="preset:slideInDownShort;duration:800ms;delay:200;" data-no-scale>{% t home.hero.subtitle_crisis %}</span>
                             <span class="tms-caption monotype tms-caption-background-3 responsive-color" data-animate-in="preset:slideInDownShort;duration:800ms;delay:200;" data-no-scale>{% t home.hero.subtitle_crisis2 %}</span>
                          </h1>
                          <p class="tms-caption lead-aplus weight-regular color-white mb-30 no-scale monotype l-contained" data-animate-in="preset:slideInUpShort;duration:1000ms;delay:400ms;" data-no-scale="" style="transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale3d(1, 1, 1); opacity: 1; transform-origin: 50% 50% 0px; visibility: visible;">
                             {% t home.hero.text_crisis %}
                          </p>
                         <a href="{{ site.baseurl }}/chile"
                             class="button rounded bkg-colectiva bkg-hover-pink color-white color-hover-white hvr-grow hvr-grow monotype">{% t home.hero.crisis_cta %}</a>
                             <a href="{{ site.baseurl }}/crisis"
                                 class="button rounded bkg-colectiva bkg-hover-pink color-white color-hover-white hvr-grow hvr-grow monotype">{% t home.hero.crisis_chile_cta %}</a>
                       </div>
                    </div>
                 </div>
              </div>
              <img data-src="{{ '/assets/images/black.jpg' | prepend:site.baseurl_root }}" data-retina src="" alt="" />
           </li>

         </ul>
      </div>
   </section>
</div>
