---
layout: default
---

<a id="button"></a>
<section class="section-block featured-media window-height tm-slider-parallax-container">
   <div class="tm-slider-container full-width-slider" data-parallax data-parallax-fade-out data-animation="slide" data-scale-under="1140" data-scale-min-height="500">
      <ul class="tms-slides">
         <li class="tms-slide" data-image data-force-fit data-overlay-bkg-color="#000000" data-overlay-bkg-opacity="0.35">
            <div class="tms-content">
               <div class="tms-content-inner center v-align-middle">
                  <div class="row">
                     <div class="column width-12">
                        <h1 class="title-large color-white mb-30">
                           <span class="tms-caption monotype tms-caption-background-3 responsive-color" data-animate-in="preset:slideInDownShort;duration:800ms;delay:200;" data-no-scale>{% t chile_crisis.title_1 %}</span>
                           <span class="tms-caption monotype tms-caption-background-3 responsive-color" data-animate-in="preset:slideInDownShort;duration:800ms;delay:200;" data-no-scale>{% t chile_crisis.title_2 %}</span>
                        </h1>
                        <p class="tms-caption lead-aplus weight-regular color-white mb-30 no-scale monotype l-contained" data-animate-in="preset:slideInUpShort;duration:1000ms;delay:400ms;" data-no-scale="" style="transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale3d(1, 1, 1); opacity: 1; transform-origin: 50% 50% 0px; visibility: visible;">
                          {% t chile_crisis.description %}
                        </p>
                     </div>
                  </div>
               </div>
            </div>
            <img data-src="{{ '/assets/images/slide.jpg' | prepend:site.baseurl_root }}" data-retina src="" alt="" />
         </li>
      </ul>
   </div>
</section>

<section class="block-content t-block-teal pt-100 pb-100">
   <div class="l-contained">

      <ul class="timeline-list">
        {% assign sorted = site.data.days_cl | sort: 'date' %}
        {% for day in sorted %}
          <li>
             <div class="content content-chile">
                <h3 class="monotype">
                  {% if site.lang == "pt" %} {{day.date_pt}}
                  {% elsif site.lang == "en" %} {{day.date_en}}
                  {% else %} {{day.date_es}}
                  {% endif %}
                </h3>
             </div>
          </li>
          {% assign milestones_ = day.milestones | reverse %}
          {% for milestone in milestones_ %}
            <li>
              {% if milestone.image != empty %}
                <img src="{{site.baseurl_root}}/assets/images/ch-oct/{{milestone.image}}" class="img-fluid">
              {% endif %}
               <div class="content content-chile">
                  <p class="monotype">
                    {% if site.lang == "pt" %} {{milestone.description_pt}}
                    {% elsif site.lang == "en" %} {{milestone.description_en}}
                    {% else %} {{milestone.description_es}}
                    {% endif %}
                    {% if milestone.link != empty %}
                      <a href={{milestone.link}} target="_blank"> {% t chile_crisis.see_more %} </a>
                    {% endif %}
                  </p>
               </div>
            </li>
          {% endfor %}
        {% endfor %}
      </ul>
   </div>

</section>

<script>
   var btn = $('#button');

   $(window).scroll(function() {
     if ($(window).scrollTop() > 300) {
       btn.addClass('show');
     } else {
       btn.removeClass('show');
     }
   });

   btn.on('click', function(e) {
     e.preventDefault();
     $('html, body').animate({scrollTop:0}, '300');
   });
</script>
