---
layout: default
permalink: /tools
---

{% capture title %}
    {% translate tools.title %}
{% endcapture %}

<!-- tools -->
<section class="section-block featured-media page-intro tm-slider-parallax-container">
 <div class="tm-slider-container full-width-slider" data-parallax data-parallax-fade-out data-animation="slide"
    data-scale-under="1140">
  <ul class="tms-slides">
    <li class="tms-slide" data-image data-force-fit data-overlay-bkg-color="#000000"
      data-overlay-bkg-opacity="0.35">
      <div class="tms-content">
        <div class="tms-content-inner center">
          <div class="row">
            <div class="column width-12">
              <!-- <h2 class="tms-caption title-small color-white mb-20 center tms-caption-background"
                 data-animate-in="preset:scaleOut;duration:500ms;" data-no-scale>
              </h2> -->
              <div class="column width-12">
                 <h3 class="title-large color-white mb-30 pt-0">
                    <span class="tms-caption color-white" data-animate-in="preset:scaleIn;duration:800ms;delay:200;" data-no-scale>{% t tools.title %}</span>
                 </h3>
              </div>
              <br>
              <a href="{{ site.baseurl }}/contact" target="_blank"
                 class="button rounded bkg-colectiva bkg-hover-pink color-white color-hover-white hvr-grow"><span
                 class="icon-mail left"></span>{% t tools.button %}</a>
            </div>
          </div>
        </div>
      </div>
      <img data-src="{{site.baseurl_root}}/assets/images/tools.jpg" data-retina src=""
       alt="" />
    </li>
  </ul>
 </div>
</section>

<!-- Tool End -->

{% include tools.html %}
