<section class="section-block featured-media window-height tm-slider-parallax-container">
  <div class="tm-slider-container full-width-slider" data-parallax data-parallax-fade-out data-animation="slide" data-scale-under="1140" data-scale-min-height="500">
     <ul class="tms-slides">

       <li class="tms-slide" data-image data-force-fit data-overlay-bkg-color="#000000" data-overlay-bkg-opacity="0.35">
          <div class="tms-content">
             <div class="tms-content-inner center v-align-middle">
                <div class="row">
                   <div class="column width-12">

                      <h1 class="title-large color-white mb-30">
                         <span class="tms-caption monotype tms-caption-background-3 responsive-color" data-animate-in="preset:slideInDownShort;duration:800ms;delay:200;" data-no-scale>A militarização não soluciona</span>
                         <span class="tms-caption monotype tms-caption-background-3 responsive-color" data-animate-in="preset:slideInDownShort;duration:800ms;delay:200;" data-no-scale>uma crise social</span>
                      </h1>
                      <p class="tms-caption lead-aplus weight-regular color-white mb-30 no-scale monotype l-contained" data-animate-in="preset:slideInUpShort;duration:1000ms;delay:400ms;" data-no-scale="" style="transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale3d(1, 1, 1); opacity: 1; transform-origin: 50% 50% 0px; visibility: visible;">
                        A principal exigência da cidadania é clara: <strong>Não mais abusos</strong>. Para iniciar um diálogo profundo e chegar a soluções políticas concretas para a agitação social, é preciso primeiro acabar com a militarização que só <strong>agrava a crise e afeta mais os direitos de quem tem menos</strong>.
                      </p>
                      <div id="share" class="post-share center">
                        <a onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + 'https%3A%2F%2Fciudadaniai.org%2Fcrisis.html', 'sharer', 'width=626,height=436');" href="javascript: void(0)" class="button rounded medium bkg-white bkg-hover-facebook color-grey color-hover-white mb-30 mb-mobile-20"><span class="icon-facebook left"></span> Compartilhe no Facebook</a>
                        <a onclick="popUp=window.open('https://twitter.com/intent/tweet?text={{ page.share_message }}&url={{ site.url }}{{ page.url }}&related={{ site.twitter_username }}', 'popupwindow', 'scrollbars=yes,width=800,height=400');popUp.focus();return false;" href="javascript: void(0)" class="button rounded medium bkg-white bkg-hover-twitter color-grey color-hover-white mb-30 mb-mobile-20"><span class="icon-twitter left"></span> Compartilhe no Twitter</a>
                      </div>

                   </div>
                </div>
             </div>
          </div>
          <img data-src="{{ '/assets/images/crisis-bg.jpg' | prepend:site.baseurl_root }}" data-retina src="" alt="" />
       </li>

     </ul>
  </div>
</section>


<section class="block-content t-block-teal pt-100 pb-100">
  <div class="l-contained">
   <h2 class="monotype">As forças armadas não são treinadas para interagir com a população civil.</h2>
    <img class="center pb-30 pt-30" src="{{site.baseurl_root}}/assets/images/no-guerra.png" max-width="760" alt="" />
   <p class="subtitle monotype">
      Os soldados são treinados para usar a força para derrotar um inimigo em situações de combate, tornando-os <a href="https://www.wola.org/es/analisis/guardia-nacional-mexico-abusos-militares/">incapazes de estar em contato próximo com civis</a>. Se isto já é complexo para as forças policiais treinadas, pior ainda para os militares.
   </p>
   <div id="share" class="post-share center">
     <a onclick="popUp=window.open('https://twitter.com/intent/tweet?text={{ page.share_message_1 }}&url={{ site.url }}{{ page.url }}&related={{ site.twitter_username }}&hashtags=NoEstamosEnGuerra', 'popupwindow', 'scrollbars=yes,width=800,height=400');popUp.focus();return false;" href="javascript: void(0)" class="button rounded medium bkg-white bkg-hover-twitter color-grey color-hover-white mb-30 mb-mobile-20"><span class="icon-twitter left"></span> Compartilhe no Twitter</a>
   </div>

    <h2 class="monotype l-contained"> Enfraquece os direitos, <strong>sobretudo dos mais pobres</strong>.</h2>
      <img class="center pb-30 pt-30" src="{{site.baseurl_root}}/assets/images/ddhh-militares.png" max-width="760" alt="" />
    <p class="subtitle monotype">
      Os países latino-americanos que adotaram a militarização, <a href="https://www.cels.org.ar/militarizacion/">de acordo com um estudo do CELS</a>, registram uma série de graves violações de direitos humanos: violações que vão desde o direito à vida, à liberdade e à integridade física de milhares de pessoas até formas preocupantes de limitação dos direitos políticos e sociais fundamentais, como o direito ao protesto, à liberdade de expressão e à migração. A presença militar em bairros em conflito aumenta o número de vítimas letais de fogo cruzado, incluindo crianças.
    </p>
    <div id="share" class="post-share center">
      <a onclick="popUp=window.open('https://twitter.com/intent/tweet?text={{ page.share_message_2 }}&url={{ site.url }}{{ page.url }}&related={{ site.twitter_username }}&hashtags=NoEstamosEnGuerra', 'popupwindow', 'scrollbars=yes,width=800,height=400');popUp.focus();return false;" href="javascript: void(0)" class="button rounded medium bkg-white bkg-hover-twitter color-grey color-hover-white mb-30 mb-mobile-20"><span class="icon-twitter left"></span> Compartilhe no Twitter</a>
    </div>

    <h2 class="monotype l-contained">
      Trata-se de uma decisão dispendiosa e de curto prazo que <strong>desvia a atenção e os recursos dos problemas sociais.</strong>.
    </h2>
    <img class="center pb-30 pt-30" src="{{site.baseurl_root}}/assets/images/militares-chile.png" max-width="760" alt="" />
    <p class="subtitle monotype">
      A militarização não resolve os problemas de crime e da violência e, ao mesmo tempo, é um <strong>obstáculo para pensar em soluções reais.</strong> As medidas de endurecimento típicas da demagogia punitiva são justificadas por demandas supostamente populares por uma "mão dura", mas ao invés de traduzir essas demandas em políticas democráticas e inclusivas, elas alimentam a violência e o ódio.
    </p>
    <div id="share" class="post-share center">
      <a onclick="popUp=window.open('https://twitter.com/intent/tweet?text={{ page.share_message_3 }}&url={{ site.url }}{{ page.url }}&related={{ site.twitter_username }}&hashtags=NoEstamosEnGuerra', 'popupwindow', 'scrollbars=yes,width=800,height=400');popUp.focus();return false;" href="javascript: void(0)" class="button rounded medium bkg-white bkg-hover-twitter color-grey color-hover-white mb-30 mb-mobile-20"><span class="icon-twitter left"></span> Compartilhe no Twitter</a>
    </div>
    <!-- <h2 class="monotype l-contained">La historia enseña que <strong>no funciona</strong>.</h2> -->


</div>
</section>

<section id="proyectos" class="pt-100 pb-100">
      <h2 class="monotype center">A história ensina que <strong>não funciona</strong>.</h2>
   <div class="section-block grid-container  fade-in-progressively no-padding-top pb-30" data-layout-mode="masonry" data-grid-ratio="1.5" data-animate-filter-duration="700" data-animate-resize data-animate-resize-duration="700">
      <div class="row">
         <!-- <div class="column width-12 center">
            <p class="chile l-contained monotype"> El gobierno y los representantes políticos, deben hacerse cargo de la <strong>desconexión brutal que existe entre la ciudadanía y sus representantes</strong>. Para ello, rescatamos algunas de las propuestas en las que hemos venido trabajando los últimos 10 años y que creemos necesitan las democracias de América Latina para representar verdaderamente a la ciudadanía:  </p>
         </div> -->
       <div class="column width-12 pb-100">
            <div class="row grid content-grid-4">
               <div class="grid-item container-projects grid-sizer">
                  <div class="item-description">
                    <img class="center pt-30" src="{{site.baseurl_root}}/assets/images/brasil.png" max-width="760" alt="" />
                     <h3 class="project-title monotype">Brasil / 2018</h3>
                     <p class="monotype pb-200">[*] 10 meses de intervenção nas ruas do Rio de Janeiro.<br>[*] Se registrou um aumento de 59% nos tiroteios.<br>[*] Mais de 4 mil homícidios.<br>[*] Aumentou em 40% as mortes devido a intervenção policial.</p>
                  </div>
               </div>
               <div class="grid-item container-projects grid-sizer">
                  <div class="item-description">
                    <img class="center pt-30" src="{{site.baseurl_root}}/assets/images/ecuador.png" max-width="760" alt="" />
                     <h3 class="project-title monotype">Equador / 2019</h3>
                     <p class="monotype pb-200">[*] Estado de exceção entre os 2 e 13 de otubro de 2019. <br>[*] Toque de recolher entre os dias 8 e 13 de otubr.<br>[*] Detidos: 1192<br>[*] Mortos: 8<br>[*] Feridos: 1340</p>
                  </div>
               </div>
               <div class="grid-item container-projects grid-sizer">
                  <div class="item-description">
                    <img class="center pt-30" src="{{site.baseurl_root}}/assets/images/honduras.png" max-width="760" alt="" />
                     <h3 class="project-title monotype">Honduras/ 2017</h3>
                     <p class="monotype pb-200">[*] Se entregam atribuições aos militares nos protestos da fraude eleitoral entre 29 de novembro e  31 de dezembro de 2017.<br>[*] Duração: 1 mês<br>[*] Detidos: 1085 <br>[*] Execuções: 30<br>[*] Feridos: 232</p>
                  </div>
               </div>
               <div class="grid-item container-projects grid-sizer">
                  <div class="item-description">
                    <img class="center pt-30" src="{{site.baseurl_root}}/assets/images/mexico.png" max-width="760" alt="" />
                     <h3 class="project-title monotype">México/ 2015 -2016</h3>
                     <p class="monotype pb-200">[*] Entre 2015 e 2016  a ciudadania denunciou o uso da força desmedida por parte das forças militares.<br>[*] 37 denúncia por privação de libertade.<br>[*] 12 casos de desaparecimento.<br>[*] 36 pessoas torturadas.<br>[*] 372 denúncias por maus tratos desumanos.</p>
                  </div>
               </div>
            </div>
         </div>
       </div>
   </div>

   <div id="share" class="post-share center">
     <a onclick="popUp=window.open('https://twitter.com/intent/tweet?text={{ page.share_message_4 }}&url={{ site.url }}{{ page.url }}&related={{ site.twitter_username }}&hashtags=NoEstamosEnGuerra', 'popupwindow', 'scrollbars=yes,width=800,height=400');popUp.focus();return false;" href="javascript: void(0)" class="button rounded medium bkg-white bkg-hover-twitter color-grey color-hover-white mb-30 mb-mobile-20"><span class="icon-twitter left"></span> Compartilhe no Twitter</a>
   </div>


</section>


    <section class="block-content t-block-teal pt-100">
      <div class="l-contained">
    <h2 class="monotype">Recursos:</h2>

       <p class="subtitle l-contained monotype">
         Violência Policial - Violações de Direitos Humanos: O Instituto Nacional de Direitos Humanos (INDH) auxilia os cidadãos nesses casos. Para fazer uma reclamação, escreva-lhes para <a href="mailto:denuncias@indh.cl">denuncias@indh.cl</a> e inclua: Detalhes da situação, data, hora, local onde os eventos ocorreram e outras informações que apoiam o seu caso
       </p>
       <p class="subtitle l-contained monotype">
         Assistência jurídica em caso de detenção (Santiago): La FeCh, ABOFEM, o Centro de Estudantes de Direito da Universidade do Chile e a Fundação Casa Común oferecem assistência jurídica gratuita a quem sofreu detenções. Para os contactar, existe um <a href="https://docs.google.com/forms/d/e/1FAIpQLSc9Q5MHGxZaMv5j5HcNevgvgbq3BPvMC6C2USyjk8dxqtSqHg/viewform">formulário web</a>, ou pode também contactá-los em <a href="mailto:piketejuridicouch@gmail.com">piketejuridicouch@gmail.com</a> e WhatsApp +569 3620 3403.
       </p>
       <p class="subtitle l-contained monotype">
         A ONG Derechos Digitales compila <strong>ferramentas tecnológicas</strong> para comunicar com segurança, verificar informações e documentar a situação. <a href="https://twitter.com/derechosdigital/status/1186032169069662208?s=20">Nós convidamos você a revisá-los e ensiná-los</a> a pessoas que não têm muito conhecimento tecnológico.
       </p>
       <p class="subtitle l-contained monotype ultima">
         <strong>Vai buscar medicamentos:</strong> Aqueles que têm de obter medicamentos com urgência e não conseguem encontrar farmácias abertas podem escrever para o Colégio Farmacêutico do Chile (<a href="mailto:comunicaciones@colegiofarmaceutico.cl">comunicaciones@colegiofarmaceutico.cl</a>) ou consultar a sua conta no <a href="https://twitter.com/ColegioQFyBQ">Twitter</a> para obter informações sobre onde encontrá-los.
       </p>
</div>
</section>
