<!-- Content -->
<div class="content clearfix">
   <!-- Board Intro -->
   <div class="section-block intro-title-1 small bkg-black">
      <div class="row">
         <div class="column width-12">
            <div class="title-container">
               <div class="title-container-inner">
                  <h2 class="title-large color-white mb-50 center">{% t board.title %}</h2>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- Board Intro -->
   <!-- Board Grid -->
   <div class="section-block team-2 pt-60">
      <div class="row">
         <div class="column width-12">
            <div class="row content-grid-4">
               {% assign members = site.board_members %} {% for member in members %} {% if {{member.lang}} == {{site.lang}} %}
               <div class="grid-item height-rockstars hvr-grow">
                  <div class="thumbnail no-margin-bottom" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
                     <img src="{{site.baseurl_root}}/assets/images/board/{{member.image}}" width="760" height="760" alt="" />
                     <div class="caption-over-outer">
                        <div class="caption-over-inner v-align-bottom color-white">
                           <h4>{{ member.name }}</h4>
                        </div>
                     </div>
                  </div>
                  <div class="team-content-info mb-mobile-50">
                     <h6 class="occupation">{{member.function}}</h6>
                     <p> {{member.bio}}.</p>
                     <ul class="social-list list-horizontal">
                     {% if {{member.network_linkedin}} != null %}<a href="{{ member.network_linkedin }}" target="_blank"><span class="icon-linkedin-with-circle medium"></span></a>{% endif %} {% if {{member.email}} != null %}
                     <a href="mailto:{{ member.email }}"><span class="icon-mail-with-circle medium"></span></a>{% endif %}
                  </div>
               </div>
               {% endif %} {% endfor %}
            </div>
         </div>
      </div>
   </div>
</div>
</div>
<!-- Content End -->
