<!-- Content -->
<div class="content clearfix">
   <!-- Full Width Slider Section -->
   <section class="section-block featured-media page-intro tm-slider-parallax-container">
      <div class="tm-slider-container full-width-slider" data-parallax data-parallax-fade-out data-animation="slide" data-scale-under="1140">
         <ul class="tms-slides">
            <li class="tms-slide" data-image data-force-fit data-overlay-bkg-color="#000000" data-overlay-bkg-opacity="0.35">
               <div class="tms-content">
                  <div class="tms-content-inner center">
                     <div class="row">
                        <div class="column width-12">
                           <h1 class="tms-caption title-large color-white mb-10 color-white" data-animate-in="preset:scaleOut;duration:1000ms;" data-no-scale>
                              {% t contact.title %}
                           </h1>
                           <br>
                        </div>
                     </div>
                  </div>
               </div>
               <img data-src="{{site.baseurl_root}}/assets/images/contact.jpg" data-retina src="" alt="" />
            </li>
         </ul>
      </div>
   </section>
   <!-- Full Width Slider Section -->
   <!-- Contact Form -->
   <section class="section-block replicable-content contact-2">
      <div class="row">
         <div class="column width-6">
            <h2 class="mb-30">{% t contact.title %}</h2>
            <div class="row">
               <div class="column width-10">
                  <h5 class="mb-30 color-grey">{% t contact.subtitle %}</h5>
                  <p>{% t contact.subtitle_2 %}</p>
                  <ul class="social-list list-horizontal">
                     <li><a href="https://twitter.com/ciudadania_i"><span class="icon-twitter-with-circle medium"></span></a></li>
                     <li><a href="https://www.facebook.com/ciudadaniai/"><span class="icon-facebook-with-circle medium"></span></a></li>
                     <li><a href="https://www.instagram.com/ciudadaniai/"><span class="icon-instagram-with-circle medium"></span></a></li>
                     <li><a href="mailto:info@ciudadaniai.org"><span class="icon-mail-with-circle medium"></span></a></li>
                  </ul>
               </div>
            </div>
         </div>
         <div class="column width-6 left">
            <div class="contact-form-container">
              <form method="POST" action="https://formspree.io/info@ciudadaniai.org" class="form">
                <div class="row">
                   <div class="column width-6">
                      <input type="text" name="fname" class="form-fname form-element rounded large" placeholder="{% t contact.form.name %}" tabindex="1" required>
                   </div>
                   <div class="column width-6">
                      <input type="text" name="lname" class="form-lname form-element rounded large" placeholder="{% t contact.form.last %}" tabindex="2">
                   </div>
                   <div class="column width-6">
                      <input type="email" name="email" class="form-email form-element rounded large" placeholder="{% t contact.form.email %}" tabindex="3" required>
                   </div>
                   <div class="column width-6">
                      <input type="text" name="subjet" class="form-website form-element rounded large" placeholder="{% t contact.form.asunto %}" tabindex="4">
                   </div>
                </div>
                <div class="row">
                   <div class="column width-12">
                      <textarea name="message" class="form-message form-element rounded large" placeholder="{% t contact.form.mensaje %}" tabindex="6" required></textarea>
                   </div>
                   <div class="column width-6 left">
                      <input type="checkbox" class="check">
                      <span class="checkbox_txt">{% t contact.form.prensa %}</span>
                   </div>
                   <div class="column width-6 right">
                     <input type="submit" class="form-submit button rounded bkg-colectiva bkg-hover-pink color-white color-hover-white hvr-grow" name="submit" value="{% t contact.form.button %}">

                   </div>
                </div>
              </form>
            </div>
         </div>
      </div>
   </section>
   <!--Contact Form End -->
</div>
<!-- Content End -->
