<!-- Content -->
<div class="content clearfix">
<!-- Fullscreen Slider Section -->
<section class="section-block featured-media window-height tm-slider-parallax-container" style="height: 550px;">
   <div class="tm-slider-container full-width-slider" data-featured-slider data-parallax data-scale-under="960" data-scale-min-height="500">
      <ul class="tms-slides">
         <li class="tms-slide" data-image data-force-fit data-overlay-bkg-color="#000000" data-overlay-bkg-opacity="0.4">
            <div class="tms-content">
               <div class="tms-content-inner center v-align-middle" style="position:relative;top:30px;">
                  <div class="row">
                     <div class="column width-12">
                        <h4 class="text-uppercase color-white mb-10">
                           <span class="tms-caption" data-animate-in="preset:slideInDownShort;duration:1000ms;delay:200;" data-no-scale>{% t donations.title %}</span>
                        </h4>
                     </div>
                     <div class="column width-12">
                        <h3 class="title-large color-white mb-30">
                           <span class="tms-caption color-white" data-animate-in="preset:scaleIn;duration:800ms;delay:200;" data-no-scale>{% t donations.subtitle %}</span>
                        </h3>
                     </div>
                  </div>
                  <div class="row">
                     <div class="column width-12">
                        <p class="tms-caption lead weight-regular color-white mb-30 display-responsive" data-animate-in="preset:slideInUpShort;duration:1000ms;delay:200ms;" data-no-scale>
                           {% t donations.lead %}
                        </p>
                           <a data-toolbar=""
                              href="https://www.youtube.com/embed/XIG-oPeIH9U?autoplay=1&amp;showinfo=0&amp;loop=1"
                              class="lightbox-link button rounded bkg-colectiva bkg-hover-pink color-white color-hover-white hvr-grow"><span
                              class="icon-youtube left"></span>{% t donations.video %}</a>
                     </div>
                  </div>
               </div>
            </div>
            <img data-src="{{site.baseurl_root}}/assets/images/join.jpg" data-retina src="" alt="" />
         </li>
      </ul>
   </div>
</section>
<!-- Fullscreen Slider Section End -->

<section class="section-block show-media-column-on-mobile bkg-white">
       <div class="row">
         <div class="column width-6">
            <div class="split-hero-content">
               <div class="hero-content-inner left horizon" data-threshold="0.7">
                  <p class="lead weight-regular mb-20 font-alt-2">{% t donations.text_1 %}</p>
                  <div class="column width-12">
                     <ul>
                        <li><span class="icon-check"></span>{% t donations.list_1 %}</li>
                        <li><span class="icon-check"></span>{% t donations.list_2 %}</li>
                        <li><span class="icon-check"></span>{% t donations.list_3 %}</li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
          <div class="column width-6">
             <div class="split-hero-content">
                <div class="hero-content-inner left horizon" data-threshold="0.7">
                   <p class="mb-20">{% t donations.text_2 %}</p>
                   <p class="mb-20">{% t donations.text_3 %}</p>
                </div>
             </div>
          </div>
     </div>
     <div class="row">
       <div class="column width-12 center">
         <h2 class="mb-50 hvr-underline-from-center pt-90">{% t donations.text_4 %}</h2>
       </div>
        <div class="accordion mb-60" data-toggle-multiple="">
         	<ul>
         		<li class="column width-4 align-center">
         			<a href="#accordion-content-1" style="background-color: #304FFE">
                <h5 style="padding: 1em 0 0em; color: white;">{% t donations.option_1.title %}</h5>
              </a>
         			<div id="accordion-content-1">
         				<div class="accordion-content">
                  <ul>
                    <li style="padding: 0 0 1em; font-weight: 700;"><a href="https://app.reveniu.com/checkoutCustomLink/uAXy2Nnl8dk3BuG3Jw7IG1snCrECaNsH" target="_blank" class="hvr-underline-from-center">5000 CLP</a></li>
                    <li style="padding: 0 0 1em; font-weight: 700;"><a href="https://app.reveniu.com/checkoutCustomLink/4O8BJVFLAW5gw4u0pJAKJl87GUQLd97K" target="_blank" class="hvr-underline-from-center">10000 CLP</a></li>
                    <li style="padding: 0 0 1em; font-weight: 700;"><a href="https://app.reveniu.com/checkoutCustomLink/FMtsiiDYJX9QtclMDC6JUrm7WlsZw2jC" target="_blank" class="hvr-underline-from-center">25000 CLP</a></li>
                    <li style="padding: 0 0 1em; font-weight: 700;"><a href="https://app.reveniu.com/checkoutCustomLink/KzHYVGAKxvfE467vQQoTsEZRLNvipIfQ" target="_blank" class="hvr-underline-from-center">50000 CLP</a></li>
                    <li style="padding: 0 0 1em; font-weight: 700;"><a href="https://app.reveniu.com/checkoutCustomLink/MtmjtfsrTXhGCGSBVgEKhwdalkkCINvq" target="_blank" class="hvr-underline-from-center">100000 CLP</a></li>
                    <li style="padding: 0 0 1em; font-weight: 700;"><a href="https://app.reveniu.com/checkoutCustomLink/x706AqRmGKyd6K6orNupfvehlKPf7NI3" target="_blank" class="hvr-underline-from-center">200000 CLP</a></li>
                  </ul>
                </div>
         			</div>
         		</li>
            <li class="column width-4 align-center">
              <a href="#accordion-content-2" style="background-color: #304FFE">
                <h5 style="padding: 1em 0 0em; color: white;">{% t donations.option_2.title %}</h5>
              </a>
         			<div id="accordion-content-2">
                <div class="accordion-content">
                  <ul>
                    <li style="padding: 0 0 1em; font-weight: 700;"><a href="https://app.reveniu.com/checkoutCustomLink/ombRD8hoQ9CFnA8a3ntilK9LD0Ayq2JZ" target="_blank" class="hvr-underline-from-center">5000 CLP</a></li>
                    <li style="padding: 0 0 1em; font-weight: 700;"><a href="https://app.reveniu.com/checkoutCustomLink/jJxqiRYwcFp5BXzvR0Qzo3f2OFQIOVcS" target="_blank" class="hvr-underline-from-center">10000 CLP</a></li>
                    <li style="padding: 0 0 1em; font-weight: 700;"><a href="https://app.reveniu.com/checkoutCustomLink/UgCnz4FtnSvC3rqOdlQXbeag9DhOD0na" target="_blank" class="hvr-underline-from-center">25000 CLP</a></li>
                    <li style="padding: 0 0 1em; font-weight: 700;"><a href="https://app.reveniu.com/checkoutCustomLink/lj8xtES40HNrw5eplG5Ar6Zmchk7JEDN" target="_blank" class="hvr-underline-from-center">50000 CLP</a></li>
                    <li style="padding: 0 0 1em; font-weight: 700;"><a href="https://app.reveniu.com/checkoutCustomLink/crLcL0bbSOEtlWekStkpuZlRV4OkJvSW" target="_blank" class="hvr-underline-from-center">100000 CLP</a></li>
                    <li style="padding: 0 0 1em; font-weight: 700;"><a href="https://app.reveniu.com/checkoutCustomLink/gzCjSmRNKvR0GIBBBFjAuWdPwVszM7TS" target="_blank" class="hvr-underline-from-center">200000 CLP</a></li>
                  </ul>
                </div>
              </div>
         		</li>
            <li class="column width-4 align-center">
              <a href="https://www.paypal.com/paypalme/ciudadaniai" target="_blank" style="background-color: #304FFE">
                <h5 style="padding: 1em 0 0em; color: white;">{% t donations.option_3.title %}</h5>
              </a>
            </li>
         	</ul>
        </div>
      </div>
    <div class="row pb-50">
      <div class="column width-10 offset-1 align-center">
        <p class="mt-20 mb-50 lead">{% t donations.text_5 %}</p>
      </div>
    </div>
    <div class="row pb-50">
      <p class="mt-20 mb-50">{% t donations.disclaimer %}</p>
      <p class="mt-20 mb-50">
        <a href="https://docs.google.com/spreadsheets/d/16lRJe8kS5OtVlkp9V1auzU4GWnEwpNXf2cnlzeBRaek/edit#gid=0" target="_blank" class="mt-20 mb-50">Lista de donantes</a>
      </p>
    </div>
</section>
