<!-- Footer -->
<footer class="footer footer-light center">
    <div class="footer-top">
        <div class="row flex">
            <div class="column width-6 offset-3 center">
                <div class="widget">
                    <h4 class="widget-title">{% t footer.title %}</h4>
                    <ul class="social-list list-horizontal center">
                        <li><a target="_blank" href="https://www.facebook.com/ciudadaniai/"><span class="hvr-grow fab fa-facebook icon-circled medium"></span></a></li>
                        <li><a target="_blank" href="https://www.instagram.com/ciudadaniai/"><span class="hvr-grow fab fa-instagram icon-circled medium"></span></a></li>
                        <li><a target="_blank" href="https://twitter.com/ciudadania_i"><span class="hvr-grow fab fa-twitter icon-circled medium"></span></a></li>
                        <li><a target="_blank" href="https://www.youtube.com/channel/UCtiq34lXdXDxo6GhIwnY5Sw"><span class="hvr-grow fab fa-youtube icon-circled medium"></span></a></li>
                        <li><a target="_blank" href="https://gitlab.com/ciudadaniai"><span class="hvr-grow fab fa-gitlab icon-circled medium"></span></a></li>
                        <li><a target="_blank" href="https://medium.com/@ciudadaniai/"><span class="hvr-grow fab fa-medium icon-circled medium"></span></a></li>
                        <li><a target="_blank" href="https://creativecommons.org/licenses/by/4.0/deed.es"><span class="hvr-grow fab fa-creative-commons icon-circled medium"></span></a></li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer End -->
