<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0" name="viewport">
    <meta name="keywords" content="{% t meta.keywords %}">
    <meta name="description" content="{% t meta.description %}">
    <title>{% if page.title %}{{ page.title }}{% else %}{% t meta.title %}{% endif %}</title>

    <link rel="canonical" href="{{ site.baseurl_root }}" />
    <link rel="shortcut icon" href="{{ site.baseurl_root }}/assets/images/favicon.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <!-- Font End -->

    <!-- Modal -->
    <!-- Remember to include jQuery :) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <!-- jQuery Modal -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <!-- Modal End -->

    <!-- Css -->
    <link rel="stylesheet" href="{{ "/assets/main.css" | prepend:site.baseurl_root }}">
    <!-- Css End -->

    <!-- Mapbox -->
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.8.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.8.0/mapbox-gl.css' rel='stylesheet' />
    <!-- Mapbox End -->


    <!-- Js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{{ "/js/map.js" | prepend:site.baseurl_root }}"></script>
    <script src="{{ "/js/404.js" | prepend:site.baseurl_root }}"></script>
    <script src="{{ "/js/timber.master.min.js" | prepend:site.baseurl_root }}"></script>
    <script src="{{ "/js/jquery.tm.counter.js" | prepend:site.baseurl_root }}"></script>
    <script src="https://kit.fontawesome.com/74e9de955c.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD_ciFwZgmpUwMVejPyK14Wc_5ZVc7BWHs&callback=initMap" async defer></script>
    <!-- Js -->

    <!-- Facebook tags -->
    <meta property="og:title" content="{% if page.title %}{{ page.title | escape }}{% else %}{{ t meta.title | escape }}{% endif %}">
    <meta property="og:type" content="{% if page.website %}website{% else %}article{% endif %}">
    <meta property="og:url" content="{{ page.url | prepend: site.baseurl | prepend: site.url }}">
    <meta property="og:image" content="{% if page.img %} {{ page.img | prepend: '/' | prepend: '/assets/images/blog' | prepend: site.baseurl_root | prepend: site.url }} {% elsif page.image %}{{ page.image | prepend: site.baseurl_root }}{% else %}{{ site.avatar | prepend: site.baseurl_root }}{% endif %}">
    <meta property="og:description" content="{% if page.intro %}{{ page.intro | strip_html | strip_newlines | truncate: 200 | escape }}{% elsif page.description %}{{ page.description | strip_html | strip_newlines | truncate: 200 | escape }}{% else %}{% t meta.description %}{% endif %}">
    <meta property="og:site_name" content="{{ site.title | escape }}">
    <meta property="og:locale" content="{% if page.lang %}{{ page.lang }}{% else %}{{ site.lang }}{% endif %}">
    <!-- Facebook tags End -->
    <!-- Twitter -->
    <meta name="twitter:widgets:ciudadania_i" content="light">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-31247996-1"></script>
    <script>
     window.dataLayer = window.dataLayer || [];
     function gtag(){dataLayer.push(arguments);}
     gtag('js', new Date());

     gtag('config', 'UA-31247996-1');
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics End -->
    <!-- Hotjar Tracking Code for ciudadaniai.org -->
  <script>
      (function(h,o,t,j,a,r){
          h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
          h._hjSettings={hjid:1394096,hjsv:6};
          a=o.getElementsByTagName('head')[0];
          r=o.createElement('script');r.async=1;
          r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
          a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
  </script>

  <script type='text/javascript'>
    var divElement = document.getElementById('viz1587614157793');
    var vizElement = divElement.getElementsByTagName('object')[0];
    vizElement.style.width='1016px';vizElement.style.height='991px';
    var scriptElement = document.createElement('script');
    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
    vizElement.parentNode.insertBefore(scriptElement, vizElement);
  </script>

<!-- Scripts para Toast - Hello Bar -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

<script>
$(document).ready(function(){
  $('.toast').toast('show');
});
</script>


</head>
