
<!-- Side Navigation Menu -->
<aside class="side-navigation-wrapper enter-right" data-no-scrollbar data-animation="scale-in">
    <div class="side-navigation-scroll-pane">
        <div class="side-navigation-inner">
            <div class="side-navigation-header">
                <div class="navigation-hide side-nav-hide">
                    <a href="#">
               <span class="icon-cancel medium"></span>
               </a>
                </div>
            </div>
            <nav class="side-navigation center">
                <ul>
                    <li class="current">
                        <a href="{{ site.baseurl }}/about" class="contains-sub-menu">{% t navbar.about_fci %}</a>
                        <ul class="sub-menu">
                            <li>
                                <a href="{{ site.baseurl }}/about">{% t navbar.fci %}</a>
                            </li>
                            <li>
                                <a href="{{ site.baseurl }}/timeline">{% t navbar.our_story %}</a>
                            </li>
                            <li>
                                <a href="{{ site.baseurl }}/collaborate-with-us">{% t navbar.support %}</a>
                            </li>
                            <li><a href="{{ site.baseurl }}/funding">{% t navbar.funding %}</a>
                            </li>
                            <li>
                                <a href="{{ site.baseurl }}/documentation">{% t navbar.documentation %}</a>
                            </li>

                        </ul>
                        <li>
                            <a href="{{ site.baseurl }}/team.html" class="contains-sub-menu">{% t navbar.team %}</a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="{{ site.baseurl }}/team">{% t navbar.team %}</a>
                                </li>
                                <li>
                                    <a href="{{ site.baseurl }}/board">{% t navbar.board %}</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="{{ site.baseurl }}/projects.html" class="contains-sub-menu">{% t navbar.projects %}</a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="{{ site.baseurl }}/projects.html">{% t navbar.our_projects %}</a>
                                </li>
                                <li>
                                    <a href="{{ site.baseurl }}/our-campaign.html">{% t navbar.our_campaign %}</a>
                                </li>
                                <li>
                                    <a href="{{ site.baseurl }}/tools.html">{% t navbar.tools %}</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="{{ site.baseurl }}/apoyanos">{% t navbar.donations %}</a>
                        </li>
                        <li>
                            <a href="{{ site.baseurl }}/blog" class="contains-sub-menu">{% t navbar.blog %}</a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="{{ site.baseurl }}/blog">{% t navbar.blog %}</a>
                                </li>
                                <li>
                                    <a href="https://medium.com/@ciudadaniai/" target="_blank">Medium</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="{{ site.baseurl }}/contact" class="contains-sub-menu">{% t navbar.contact %}</a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="{{ site.baseurl }}/contact">{% t navbar.contact %}</a>
                                </li>
                                <li>
                                    <a href="{{ site.baseurl }}/join">{% t navbar.join %}</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="{{ site.baseurl }}/lealtad" class="contains-sub-menu"><img src="{{ site.baseurl_root }}/assets/images/sello-lealtad.png"></a>
                        </li>
                        <li>
                            {% if site.lang == "es" %} {% capture link_en %}{{ site.baseurl_root }}/en{{ page.url}}{% endcapture %} {% capture link_pt %}{{ site.baseurl_root }}/pt{{ page.url}}{% endcapture %}
                            <li> <a href="{{ link_en }}">English</a> </li>
                            <li> <a href="{{ link_pt }}">Portugues</a> </li>
                            {% elsif site.lang == "pt" %} {% capture link_es %}{{ site.baseurl_root }}{{ page.url }}{% endcapture %} {% capture link_en %}{{ site.baseurl_root }}/en{{ page.url}}{% endcapture %}
                            <li> <a href="{{ link_es }}">Español</a></li>
                            <li> <a href="{{ link_en }}">English</a></li>
                            {% elsif site.lang == "en" %} {% capture link_es %}{{ site.baseurl_root }}{{ page.url }}{% endcapture %} {% capture link_pt %}{{ site.baseurl_root }}/pt{{ page.url}}{% endcapture %}
                            <li> <a href="{{ link_es }}">Español</a> </li>
                            <li> <a href="{{ link_pt }}">Portugues</a> </li>
                            {% endif %}
                        </li>
                </ul>
            </nav>
            <div class="side-navigation-footer center">
                <p class="copyright no-margin-bottom">&copy; Ciudadanía Inteligente</p>
            </div>
        </div>
    </div>
</aside>
<div class="wrapper-inner">
    <!-- Header -->
    <header class="header with-shadow header-absolute header-fixed-on-mobile header-transparent header-animated header-sticky header-positioned header-background header-compact header-in" data-helper-in-threshold="300" data-helper-out-threshold="500" data-sticky-threshold="300" data-bkg-threshold="300" data-compact-threshold="300" style="height: 80px;">
        <div class="header-inner">
        <!-- Hello Bar -->
          <!--<div class="toast hello-bar" data-autohide="false">
            <div class="toast-body">
                <button type="button" class="close" data-dismiss="toast">&times;</button>
                  <p>En <b>Ciudadanía Inteligente</b> nos tomaremos un descanso administrativo <b>desde el 24 de diciembre hasta el 31 de diciembre</b> para recargar energías para el nuevo año. Responderemos todos sus mensajes y consultas desde el 3 de enero.</p>
            </div>
          </div> -->

          <style>
            /*Hello Bar FCI*/
            .hello-bar{
              background-color: #f8f8f8;
              width: 100%;
              padding: 15px;
            }

            .hello-bar .toast-body p{
               padding:0px;
               width: 85%;
               margin: auto;
               color: #263238;
               font-size: 1.5rem;
            }

            .hello-bar .toast-body p b{
               color:#D500F9;
               font-weight: 800;
            }

            .hello-bar .toast-body button {
                color:#D500F9;
                position: absolute;
                right: 3%;
                background: transparent;
                border: 0px;
                font-size: 30px;
                margin: 0px;
                padding: 0px;
            }

            .hello-bar .toast-body button:hover{
              transition:0.5s all;
              transform: rotate(90deg);
            }

            @media (max-width: 960px) {
            .header, .header .header-inner {
                  height: auto!important;
            }
            .hello-bar{
               padding: 10px 5px;
            }
            .hello-bar .toast-body p{
               font-size: 1.3rem;
            }
            }

            @media (max-width: 768px) {
            .hello-bar .toast-body p{
               padding-left:15px;
               width: 90%;
               margin: 0px 20px 0px 0px;
            }
            }
          </style>

            <div class="row nav-bar">
                <div class="column width-12 nav-bar-inner">
                    <div class="logo">
                        <div class="logo-inner">
                            {% if site.lang == 'pt'%}
                            <a href="{{ site.baseurl }}/index" class=""><img src="{{ site.baseurl_root }}/assets/images/logo-dark-pt.svg" alt="Logo FCI"></a>
                            <a href="{{ site.baseurl }}/index" class=""><img src="{{ site.baseurl_root }}/assets/images/logo-pt.svg" alt="Logo FCI"></a> {% else %}
                            <a href="{{ site.baseurl }}/index" class=""><img src="{{ site.baseurl_root }}/assets/images/logo-dark.svg" alt="Logo FCI"></a>
                            <a href="{{ site.baseurl }}/index" class=""><img src="{{ site.baseurl_root }}/assets/images/logo.svg" alt="Logo FCI"></a> {% endif %}
                        </div>
                    </div>
                    <nav class="navigation nav-block secondary-navigation nav-right">
                        <!-- <ul>
                     <li><a href="https://www.facebook.com/ciudadaniai/" target="_blank" class="nav-icon facebook no-page-fade"><span class="icon-facebook"></span></a></li>
                     <li><a href="https://www.instagram.com/ciudadaniai/" target="_blank" class="nav-icon instagram no-page-fade"><span class="icon-instagram"></span></a></li>
                     <li><a href="https://twitter.com/ciudadania_i" target="_blank" class="nav-icon twitter no-page-fade"><span class="icon-twitter"></span></a></li>
                     <li><a href="https://www.youtube.com/user/CiudadanoInteligente" target="_blank" class="nav-icon youtube no-page-fade"><span class="icon-youtube"></span></a></li>
                     </ul> -->
                        <li class="aux-navigation hide">
                            <a href="#" class="navigation-show side-nav-show nav-icon">
                     <span class="icon-menu"></span>
                     </a>
                        </li>
                    </nav>
                    <nav class="navigation nav-block primary-navigation nav-right">
                        <ul>
                            <li>
                                <a href="{{ site.baseurl }}/about">{% t navbar.about_fci %}</a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="{{ site.baseurl }}/about">{% t navbar.fci %}</a>
                                    </li>
                                    <li>
                                        <a href="{{ site.baseurl }}/timeline">{% t navbar.our_story %}</a>
                                    </li>
                                    <li>
                                        <a href="{{ site.baseurl }}/collaborate-with-us"> {% t navbar.support %} </a>
                                    </li>
                                    <li>
                                        <a href="{{ site.baseurl }}/funding">{% t navbar.funding %}</a>
                                    </li>
                                    <li>
                                        <a href="{{ site.baseurl }}/documentation">{% t navbar.documentation %}</a>
                                    </li>

                                </ul>
                            </li>
                            <li>
                                <a href="{{ site.baseurl }}/team.html">{% t navbar.team %}</a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="{{ site.baseurl }}/team">{% t navbar.team %}</a>
                                    </li>
                                    <li>
                                        <a href="{{ site.baseurl }}/board">{% t navbar.board %}</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="{{ site.baseurl }}/projects.html">{% t navbar.projects %}</a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="{{ site.baseurl }}/projects.html">{% t navbar.our_projects %}</a>
                                    </li>
                                    <li>
                                        <a href="{{ site.baseurl }}/our-campaign.html">{% t navbar.our_campaign %}</a>
                                    </li>
                                    <li>
                                        <a href="{{ site.baseurl }}/tools.html">{% t navbar.tools %}</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="{{ site.baseurl }}/apoyanos">{% t navbar.donations %}</a>
                            </li>
                            <li>
                                <a href="{{ site.baseurl }}/blog" class="contains-sub-menu">{% t navbar.blog %}</a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="{{ site.baseurl }}/blog">{% t navbar.blog %}</a>
                                    </li>
                                    <li>
                                        <a href="https://medium.com/@ciudadaniai/" target="_blank">Medium</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="{{ site.baseurl }}/contact">{% t navbar.contact %}</a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="{{ site.baseurl }}/contact">{% t navbar.contact %}</a>
                                    </li>
                                    <li>
                                        <a href="{{ site.baseurl }}/join">{% t navbar.join %}</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="{{ site.baseurl }}/lealtad" class="contains-sub-menu"><img src="{{ site.baseurl_root }}/assets/images/sello-lealtad.png"></a>
                            </li>
                            <li>
                                {% if site.lang == "es" %} {% capture link_en %}{{ site.baseurl_root }}/en{{ page.url}}{% endcapture %} {% capture link_pt %}{{ site.baseurl_root }}/pt{{ page.url}}{% endcapture %}
                                <li> <a href="{{ link_en }}">EN</a> </li>
                                <li> <a href="{{ link_pt }}">Pt</a> </li>
                                {% elsif site.lang == "pt" %} {% capture link_es %}{{ site.baseurl_root }}{{ page.url }}{% endcapture %} {% capture link_en %}{{ site.baseurl_root }}/en{{ page.url}}{% endcapture %}
                                <li> <a href="{{ link_es }}">ES</a></li>
                                <li> <a href="{{ link_en }}">EN</a></li>
                                {% elsif site.lang == "en" %} {% capture link_es %}{{ site.baseurl_root }}{{ page.url }}{% endcapture %} {% capture link_pt %}{{ site.baseurl_root }}/pt{{ page.url}}{% endcapture %}
                                <li> <a href="{{ link_es }}">ES</a> </li>
                                <li> <a href="{{ link_pt }}">PT</a> </li>
                                {% endif %}
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
</div>
