<div class="content clearfix">
    <section class="section-block featured-media page-intro">
        <div class="tm-slider-container full-width-slider" data-parallax data-parallax-fade-out data-animation="slide"
            data-scale-under="1140">
            <ul class="tms-slides">
                <li class="tms-slide" data-image data-force-fit data-overlay-bkg-color="#000000"
                    data-overlay-bkg-opacity="0.35">
                    <div class="tms-content">
                        <div class="tms-content-inner center">
                            <div class="row">
                                <div class="column width-12">
                                    <h2 class="tms-caption title-large color-white mb-0 center"
                                        data-animate-in="preset:scaleOut;duration:500ms;" data-no-scale>
                                        {{ include.title }}
                                    </h2>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <img data-src="{{ site.baseurl_root }}{{include.image}}" data-retina src="" alt="" />
                </li>
            </ul>
        </div>
    </section>
</div>
