<div class="content clearfix">
       <!-- Full Width Slider Section -->
       <section class="section-block featured-media window-height tm-slider-parallax-container">
          <div class="tm-slider-container full-width-slider" data-parallax data-parallax-fade-out data-animation="slide" data-scale-under="1140" data-scale-min-height="500">
             <ul class="tms-slides">
                    <li class="tms-slide" data-image data-force-fit data-overlay-bkg-color="#000000" data-overlay-bkg-opacity="0.35">
                      <div class="tms-content">
                          <div class="tms-content-inner center v-align-middle">
                             <div class="row">
                               <div class="column width-10 offset-1">
                                 <h6 class="tms-caption title-xsmall color-white" data-animate-in="preset:scaleOut;duration:1000ms;" data-no-scale style="margin-top:60px">
                                     {{ page.version }}
                                 </h6>
                                <h1 class="title-large color-white mb-30">
                                  <span class="tms-caption" data-animate-in="preset:scaleOut;duration:1000ms;" data-no-scale>{{page.title}}</span>
                                </h1>
                                <a href="#{{ page.anchor }}" class="button rounded border-hover-white color-white color-hover-white hvr-grow" data-animate-in="preset:scaleOut;duration:1000ms;" data-no-scale><span class="icon-arrow-down left"></span> {{page.call}}</a>
                               </div>
                             </div>
                          </div>
                        </div>
                        {% if page.img %}
                          <img data-src="{{ site.baseurl_root }}/assets/images/{{page.img}}" title="{{ destacada.title }}" class="img-responsive" data-retina src="" />
                        {% else %}
                         <img data-src="{{ site.baseurl_root }}/assets/images/campaigns.jpg" data-retina src="" alt="" />
                        {% endif %}
                        </li>
             </ul>
          </div>
       </section>
    </div>
