<!-- Content -->
<div class="content clearfix">
<!-- Fullscreen Slider Section -->
<section class="section-block featured-media window-height tm-slider-parallax-container">
   <div class="tm-slider-container full-width-slider" data-featured-slider data-parallax data-scale-under="960" data-scale-min-height="500">
      <ul class="tms-slides">
         <li class="tms-slide" data-image data-force-fit data-overlay-bkg-color="#000000" data-overlay-bkg-opacity="0.4">
            <div class="tms-content">
               <div class="tms-content-inner center v-align-middle">
                  <div class="row">
                     <div class="column width-12">
                        <h4 class="text-uppercase color-white mb-10">
                           <span class="tms-caption" data-animate-in="preset:slideInDownShort;duration:1000ms;delay:200;" data-no-scale>{% t lealtad.lealtad %}</span>
                        </h4>
                     </div>
                     <div class="column width-12">
                        <h3 class="title-large color-white mb-30">
                           <span class="tms-caption color-white" data-animate-in="preset:scaleIn;duration:800ms;delay:200;" data-no-scale>{% t lealtad.text %}</span>
                        </h3>
                     </div>
                  </div>
                  <div class="row">
                     <div class="column width-12">

                        <a href="{{site.baseurl_root}}/assets/attachments/estandar-de-transparencia-y-buenas-practicas-fci.pdf" target="_blank"
                           class="button rounded bkg-colectiva bkg-hover-pink color-white color-hover-white hvr-grow"><span
                           class="icon-eye left"></span>{% t lealtad.documentation %}</a>
                     </div>
                  </div>
               </div>
            </div>
            <img data-src="{{site.baseurl_root}}/assets/images/lealtad/hero.jpg" data-retina src="" alt="" />
         </li>
      </ul>
   </div>
</section>
<!-- Fullscreen Slider Section End -->

<!-- Sobre Ciudadania -->
<section id="sobreciudadania" class="section-block">
    <div class="row flex">
      <div class="column width-12 center">
        <h2 class="mb-20">{% t lealtad.lealtad %}</h2>
      </div>
      <div class="column width-5 push-1 left">
        <p class="lead">{% t lealtad.description %}</p>
      </div>
        <div class="column width-5 push-1 left">
          <div class="feature-content">
            <p class="lead">{% t lealtad.description2 %}</p>
          </div>
        </div>
    </div>
</section>
<!-- Sobre Ciudadania End -->
