<!-- Suscribete -->
<div class="section-block signup-2 signup-2-newsletter left middle">
  <div class="media-overlay bkg-black opacity-02"></div>
  <div>
    <div class="row">
      <div class="column width-7 horizon" data-animate-in="preset:slideInUpShort;duration:1200ms;delay:200ms;" data-threshold="0.5">
        <div class="hero-content">
          <div class="hero-content-inner bottom left">
            <div class="signup-form-container">
              <div class="row">
                <div class="column width-10">
                  <h2 class="mb-10 color-white">{% t newsletter.title %}</h2>
                  <form action="//ciudadanointeligente.us5.list-manage.com/subscribe/post?u=73951bb4ca8d05cfc6a608807&amp;id=b77280e172" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="relative" target="_blank" novalidate>
                    <div class="mc-field-group">
                        <input placeholder="Subscríbete a nuestro newsletter" requiered type="email" value="" name="EMAIL" class="form-email form-element rounded large" id="mce-EMAIL" aria-required="true">
                    </div>
                    <div id="mce-responses" class="clear">
                      <div class="response" id="mce-error-response" style="display:none" aria-hidden="true"></div>
                      <div class="response" id="mce-success-response" style="display:none" aria-hidden="true"></div>
                    </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;"><input type="text" name="b_73951bb4ca8d05cfc6a608807_b77280e172" tabindex="-1" value="" aria-hidden="true"></div>
                    <div class="input-btn"><button type="submit" value="Subscribirme" name="subscribe" id="mc-embedded-subscribe" class="button rounded bkg-colectiva bkg-hover-pink color-white color-hover-white hvr-grow"> {% t newsletter.button %} </button></div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
