<!-- Breadcrum -->
<div class="section-block pt-50 pb-0">
    <div class="row">
        <div class="column width-12">
            <ul class="breadcrumb mb-50">
                <li>
                    <a href="{{ site.baseurl }}/index">Inicio</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/pagination">Blog</a>
                </li>
                <li>
                    {{page.title}}
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- Breadcrum End -->
<div class="section-block clearfix pt-0">
    <div class="row">
        <!-- Content Inner -->
        <div class="column width-12 content-inner blog-single-post">
            <article class="post">
                <h1> {{page.title}} </h1>

                <div class="post-content">
                    <p>{{ page.content }}</p>
                    {% if page.quote %}
                    <div class="box bkg-theme xlarge color-white">
                        <blockquote class="large">
                            <p>{{ page.quote }}</p>
                            <cite>Nombre cita</cite>
                        </blockquote>
                    </div>
                    {% endif %}
                </div>
            </article>
            <!-- Post Share -->
            <div id="share" class="post-share post-aux-info box rounded bkg-grey-ultralight center">
                <h5 class="mb-40">Comparte este post en RRSS</h5>
                <a onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + location.href, 'sharer', 'width=626,height=436');" href="javascript: void(0)" class="button rounded medium bkg-white bkg-hover-facebook color-grey color-hover-white mb-30 mb-mobile-20"><span class="icon-facebook left"></span> Share on Facebook</a>
                <a onclick="popUp=window.open('https://twitter.com/intent/tweet?text={{ page.share_message }}&url={{ site.url }}{{ page.url }}&related={{ site.twitter_username }}', 'popupwindow', 'scrollbars=yes,width=800,height=400');popUp.focus();return false;" href="javascript: void(0)" class="button rounded medium bkg-white bkg-hover-twitter color-grey color-hover-white mb-30 mb-mobile-20"><span class="icon-twitter left"></span> Share on Twitter</a>
            </div>
        </div>
        <!-- Content Inner End -->



    </div>
</div>
<!-- Pagination Section 3 -->
<!-- <div class="section-block pagination-3 pt-40 pb-40">
    <div class="row">
        <div class="column width-12">
            <ul>
                <li>
                    {% if paginator.previous_page %}
                    <a href="{{ site.url }}{{ paginator.previous_page_path }}" class="pagination-previous">
                        <span class="icon-left-open-mini left"></span> Página Anterior
                    </a>
                    {% else %}
                    <a class="pagination-previous disabled" href="#">
                        <span class="icon-left-open-mini left"></span> Página Anterior
                    </a>
                    {% endif %}
                </li>
                <li>
                    {% if paginator.next_page %}
                    <a href="{{ site.url }}{{ paginator.next_page_path }}" class="pagination-next">
               Página Siguiente
               <span class="icon-right-open-mini right"></span>
               </a> {% else %}
                    <a href="" class="pagination-next disabled">
               Página Siguiente
               <span class="icon-right-open-mini right"></span>
               </a> {% endif %}
                </li>
            </ul>
        </div>
    </div>
</div> -->
<!-- Pagination Section 3 End -->
</div>
<!-- Content End -->
