<!-- Projects Intro -->
<div class="row">
   <div class="column width-12 center">
      <h2 class="mb-50 hvr-underline-from-center pt-40">{% t projects.title %}</h2>
   </div>
</div>
<!-- Projects Intro -->
<!-- Projects Section -->
<section id="proyectos">
   <div class="section-block grid-container  fade-in-progressively no-padding-top pb-30" data-layout-mode="masonry" data-grid-ratio="1.5" data-animate-filter-duration="700" data-animate-resize data-animate-resize-duration="700">
      <div class="row">
         <div class="column width-12">
            <div class="row grid content-grid-4 pb-50">
               {% for p in site.projects %}
               {% if p.lang == site.lang %}
               {% if p.visible_home %}
               <div class="grid-item container-projects grid-sizer">
                  <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#000000" data-hover-bkg-opacity="0.8">
                    {% if p.link_to_project %}
                      <a class="overlay-link" href="{{p.site }}" target="_blank">
                    {% else %}
                      <a class="overlay-link" href="{{p.url | prepend:site.baseurl }}" target="_blank">
                    {% endif %}
                       <img src="{{ p.image | prepend:site.baseurl_root }}" alt="" />
                       <span class="overlay-info">
                       <span>
                       <span>
                       <span class="project-title"> {% t projects.see_more %}</span>
                       </span>
                       </span>
                       </span>
                     </a>
                  </div>
                  <div class="item-description">
                     <h3 class="project-title">{{ p.name }}</h3>
                     <span class="project-description">{{ p.description }}</span>
                  </div>
               </div>
               {% endif %}
               {% endif %}
               {% endfor %}
            </div>
         </div>
      </div>
   </div>
   </div>
</section>
<!-- Projects Section -->
</div>
<!-- Content End -->
