<!-- Content -->
<div class="content clearfix">
    <!-- Intro Title Section 1 -->
    <div class="section-block intro-title-1 small bkg-black">
        <div class="row">
            <div class="column width-12">
                <div class="title-container">
                    <div class="title-container-inner">
                        <h2 class="title-large color-white mb-0 center">{% t support.title %}</h2>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Intro Title Section 1 End -->
