<!-- Content -->
<div class="content clearfix">
    <!-- Portfolio Grid -->
    <div class="section-block grid-filter-menu center">
      <div class="row">
        <div class="column width-12">
          <p>
            {% t tools.description %}
          </p>
        </div>
        <div class="column width-12">
          <ul>
            <li><a class="active" href="#" data-filter="*">   {% t tools.all %}                   </a></li>
            <li><a href="#" data-filter=".incidencia">        {% t tools.advocacy %}              </a></li>
            <li><a href="#" data-filter=".informacion">       {% t tools.information %}           </a></li>
            <li><a href="#" data-filter=".fiscalizacion">     {% t tools.audit %}                 </a></li>
            <li><a href="#" data-filter=".participacion">     {% t tools.citizen_participation %} </a></li>
          </ul>
        </div>
      </div>

      <div class="section-block grid-container fade-in-progressively pt-50" data-grid-ratio="1.5" data-animate-filter-duration="700" data-animate-resize data-animate-resize-duration="700">
        <div class="row">
          <div class="column width-12">
            <div class="row grid content-grid-3 clearfix">
              {% assign tools = site.tools %}
              {% for tool in tools %}
               {% if tool.lang == site.lang %}
                  <div class="grid-item grid-sizer {{ tool.ref }}">
                    <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#000000" data-hover-bkg-opacity="0.5">
                      <a class="overlay-link" href="{{tool.url | prepend:site.baseurl }}">
                        <img src="{{site.baseurl_root}}/assets/images/tools/{{tool.image}}" alt="" />
                      </a>
                    </div>
                    <div class="item-description">
                      <h3 class="project-title color-white tms-caption-background">
                        {{ tool.title }}
                      </h3>
                      <span class="project-description">{{ tool.intro}}</span>
                    </div>
                    <a class="overlay-link tool" href="{{tool.url | prepend:site.baseurl }}"> Ver más </a>
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <!-- Portfolio Grid Section End -->
  </div>
<!-- Content End -->
</div>
