---
layout: campaign
---

<div id="informe" class="section-block bkg-grey-ultralight">
  <div class="row">
    <div class="column width-10 offset-1 align-center pt-40">
      <h2 class="mulish mb-30" style="font-weight:400;">
         {{page.summary}}
      </h2>
      <p class="lead">Infórmate aquí sobre qué datos está poniendo a disposición del público cada país de nuestra región.</p>
      <p class="spacemono" style="text-transform:uppercase;font-size:1.3rem;font-weight:600;"><span><a class="blue" href="#metodologia">Revisa la metodología y descarga la base de datos del estudio <span class="icon-arrow-down"></span></a></span></p>
     </div>
  </div>
</div>

<div class="pt-70">
  <div class="row">
    <div class="column width-10 offset-1 align-center pt-40">
      <h2 class="mb-50">¿Cuántos datos sobre COVID-19 están entregando los gobiernos de América Latina?</h2>
      <p class="spacemono" style="text-transform:uppercase;font-size:1.3rem;font-weight:600;">{{page.update}}</p>
     </div>
    <div class="column width-12 center pb-40">
      <div class='tableauPlaceholder' id='viz1589503154269' style='position: relative'>
        <noscript>
          <a href='#'>
            <img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;CO&#47;COVID-19_15875048609270&#47;Historia&#47;1_rss.png' style='border: none' />
          </a>
          </noscript>
            <object class='tableauViz'  style='display:none;'>
              <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
              <param name='embed_code_version' value='3' />
              <param name='site_root' value='' />
              <param name='name' value='COVID-19_15875048609270&#47;Historia' />
              <param name='tabs' value='no' />
              <param name='toolbar' value='yes' />
              <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;CO&#47;COVID-19_15875048609270&#47;Historia&#47;1.png' />
              <param name='animate_transition' value='yes' />
              <param name='display_static_image' value='yes' />
              <param name='display_spinner' value='yes' />
              <param name='display_overlay' value='yes' />
              <param name='display_count' value='yes' />
            </object>
          </div>
    </div>
  </div>
</div>

<div class="section-block bkg-grey-ultralight pt-70">
  <div id="metodologia" class="row">
    <div class="column width-10 align-center offset-1 pt-40">
      <h2 class="mb-50">Metodología</h2>
    </div>
    <div class="column width-10 offset-1 pt-40">
      <div class="row">
        <div class="column width-6">
          <p>Comunicar los datos relativos al impacto de la pandemia de COVID-19 de manera transparente es una potente herramienta para implementar de mejor manera las políticas para su combate. Por un lado, es útil para que la sociedad civil, las comunidades científicas y de expertos en políticas públicas puedan evaluar las medidas tomadas y hacer recomendaciones basadas en evidencia. Por otra parte -y tal vez más importante que lo anterior- es una poderosa herramienta para que los gobiernos puedan explicar de manera fundamentada las medidas que toman.</p>
        </div>
        <div class="column width-6">
          <p>A raíz de la actual pandemia, se han creado innumerables iniciativas desde la sociedad civil y desde los principales usuarios de los datos relacionados al COVID-19. En este contexto, proveer datos más robustos y de mejor calidad a estos grupos significa una oportunidad para que los gobiernos puedan compartir sus decisiones a la sociedad civil con el potencial respaldo de la comunidad científica y de expertos en políticas públicas.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="column width-10 align-center offset-1">
    <a href="https://ciudadaniai.org/assets/attachments/metodologia-informe-covid19-mayo.pdf" target="_blank" class="button rounded bkg-green-blue bkg-hover-green color-white color-hover-white hvr-grow">Revisa la metodología</a>
    <a href="https://docs.google.com/spreadsheets/d/1aYS7gyIO666pEnMREGf_5Q8lNARL-l5JIrRi_yalfZo/edit#gid=1375465684" target="_blank" class="button rounded bkg-green-blue bkg-hover-green color-white color-hover-white hvr-grow"><span class="icon-database left"></span> Descarga la base de datos</a>
    <a href="https://docs.google.com/spreadsheets/d/1aYS7gyIO666pEnMREGf_5Q8lNARL-l5JIrRi_yalfZo/edit#gid=455872084" target="_blank" class="button rounded bkg-green-blue bkg-hover-green color-white color-hover-white hvr-grow"><span class="icon-clipboard left"></span> Revisa las fuentes</a>
  </div>
  <dv>
</div>

<div class="section-block pt-70">
  <div class="row">
    <div class="column width-8 align-center offset-2 pt-40">
      <h2 class="mb-50">¿Por qué lo hacemos?</h2>
    </div>
    <div class="column width-10 offset-1">
      <p>En Ciudadanía Inteligente hemos trabajado hace más de 10 años por la promoción de la transparencia, la rendición de cuentas y la disminución de las brechas de información entre la ciudadanía y gobernantes. Hoy vivimos tiempos difíciles. La pandemia del COVID19 se ha insertado en nuestras vidas, y los gobiernos decretaron el aislamiento social masivo como forma de prevenir y combatir la enfermedad. La guerra por la información se convirtió en una agenda fundamental en la defensa de la vida y en el diseño de políticas públicas para el escenario que se avecina. Sin embargo, ¿Por qué no todos podemos conocer la información?
      </p>
      <p>Como organización queremos hacer lo que esté en nuestro alcance para apoyar a la comunidad científica, medios de comunicación, y la ciudadanía en general con información relevante y certera en pos de soluciones para el cuidado de la salud. Nuestro objetivo es abrir los datos de calidad de manera amigable, concreta, y simple y con ellos apoyar a la construcción de mejores políticas públicas.
      </p>
      <p><span>Esto no es un trabajo de una sola organización. Necesitamos la ayuda de todos y todas para investigar, actualizar los datos y entregarlos de manera correcta y oportuna. Si quieres colaborar sólo debes escribirnos a: <a class="blue" href="mailto:covid19@ciudadaniai.org" target="_blank">covid19@ciudadaniai.org</span></a>
      </p>
    </div>
    <div class="column width-8 align-center offset-2">
      <p class="spacemono blue pt-40" style="font-size:2rem;font-weight:600;"><span>En tiempos de incertidumbre nos mueve una sola certeza: juntas y juntos somos más fuertes.</span></p>
    </div>
  </div>
</div>

<div class="section-block bkg-grey-ultralight">
  <div class="row">
    <div class="column width-8 align-center offset-2">
      <p class="spacemono" style="text-transform:uppercase;font-size:1.3rem;font-weight:600;">AGRADECEMOS A RODRIGO BALBONTÍN Y JUAN IGNACIO VILA, QUIENES CREARON LA METODOLOGÍA Y LIDERARON LA INVESTIGACIÓN. AGRADECEMOS TAMBIÉN A CRISTÓBAL CUADRADO Y CATTERINA FERRECCIO POR SUS COMENTARIOS TÉCNICOS RESPECTO A LAS VARIABLES A CONSIDERAR EN LA PRESENTE METODOLOGÍA. TAMBIÉN AGRADECEMOS A AGUSTÍN VÁZQUEZ, VALENTINA BRIONES Y NICOLE RÍOS POR SU TRABAJO COMO VOLUNTARIOS EN LA INVESTIGACIÓN Y A TODO EL EQUIPO DE CIUDADANÍA INTELIGENTE QUE HIZO POSIBLE ESTE ESTUDIO.</p>
    </div>
  </div>
</div>



<script type='text/javascript'>
  var divElement = document.getElementById('viz1587692438810');
  var vizElement = divElement.getElementsByTagName('object')[0];
  vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';
  var scriptElement = document.createElement('script');
  scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
  vizElement.parentNode.insertBefore(scriptElement, vizElement);
</script>
<script type='text/javascript'>
  var divElement = document.getElementById('viz1587614157793');
  var vizElement = divElement.getElementsByTagName('object')[0];
  vizElement.style.width='100%';vizElement.style.height='991px';
  var scriptElement = document.createElement('script');
  scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
  vizElement.parentNode.insertBefore(scriptElement, vizElement);
</script>
<script type='text/javascript'>
  var divElement = document.getElementById('viz1589503154269');
  var vizElement = divElement.getElementsByTagName('object')[0];
  vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';
  var scriptElement = document.createElement('script');
  scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
  vizElement.parentNode.insertBefore(scriptElement, vizElement);
</script>



{{ content }}
