<!-- Campaña-->
                    <div class="grid-item">
                        <div class="thumbnail no-margin-bottom overlay-slide-in-right" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#000000" data-hover-bkg-opacity="0.8">
                            <a href="#papeletasvotos" rel="modal:open" class="overlay-link">
                        <img src="{{ site.url }}/assets/images/campaignrrss/papeletasvotos/postergacion-1.png" width="760" height="760" alt="" />
                        <span class="overlay-info">
			                <span>
				               <span>
						            Ver Campaña
				               </span>
			                </span>
		                </span>
                    </a>
                        </div>
                        <div class="info-campaign">
                            <h5 class="name-campaign">4 papeletas 4 votos</h5>
                            <a target="_blank" class="boton-descarga" href="https://gitlab.com/pedregalux/images2021/-/raw/master/cuatropapeletascuatrovotos.zip">Descarga la campaña acá y cuéntale a tu gente</a>
                        </div>
                    </div>

                    <!-- Modal Campaña-->
                    <div id="papeletasvotos" class="modal">
                        <h4 class="name-campaign">4 papeletas 4 votos</h4>

                       <!-- Slide de imagenes - Campaña-->
                        <div id="papeletasvotos-slide" class="carousel slide" data-ride="carousel" data-interval="false">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="{{ site.url }}/assets/images/campaignrrss/papeletasvotos/postergacion-1.png" width="760" height="760" alt="" />
                                </div>
                                <div class="carousel-item">
                                    <img src="{{ site.url }}/assets/images/campaignrrss/papeletasvotos/postergacion-2.png" width="760" height="760" alt="" />
                                </div>
                                <div class="carousel-item video">
                                    <video src="{{site.baseurl_root}}/assets/images/campaignrrss/papeletasvotos/papeletasvotos-3.mp4" loop controls ></video>
                                </div>
                                <div class="carousel-item">
                                    <img src="{{ site.url }}/assets/images/campaignrrss/papeletasvotos/postergacion-4.png" width="760" height="760" alt="" />
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#papeletasvotos-slide" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
                            <a class="carousel-control-next" href="#papeletasvotos-slide" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
                        </div>
                    </div>
                    <!-- Fin Campaña -->
