<!-- Campaña-->
                    <div class="grid-item">
                        <div class="thumbnail no-margin-bottom overlay-slide-in-right" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#000000" data-hover-bkg-opacity="0.8">
                            <a href="#corpesca" rel="modal:open" class="overlay-link">
                        <img src="{{ site.url }}/assets/images/campaignrrss/corpesca/corpesca-1.png" width="760" height="760" alt="" />
                        <span class="overlay-info">
			                <span>
				               <span>
						            Ver Campaña
				               </span>
			                </span>
		                </span>
                    </a>
                        </div>
                        <div class="info-campaign">
                            <h5 class="name-campaign">En Chile intentaron comprar la democracia</h5>
                            <a target="_blank" class="boton-descarga" href="https://gitlab.com/pedregalux/images2021/-/raw/master/corpesca.zip">Descarga la campaña acá y hagamos ruido para castigar la corrupción</a>
                        </div>
                    </div>

                    <!-- Modal Campaña-->
                    <div id="corpesca" class="modal">
                        <h4 class="name-campaign">En Chile intentaron comprar la democracia</h4>

                       <!-- Slide de imagenes - Campaña-->
                        <div id="corpesca-slide" class="carousel slide" data-ride="carousel" data-interval="false">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="{{ site.url }}/assets/images/campaignrrss/corpesca/corpesca-1.png" width="760" height="760" alt="" />
                                </div>
                                <div class="carousel-item">
                                    <img src="{{ site.url }}/assets/images/campaignrrss/corpesca/corpesca-2.png" width="760" height="760" alt="" />
                                </div>
                                <div class="carousel-item video">
                                    <video src="{{ site.url }}/assets/images/campaignrrss/corpesca/corpesca-3.mp4" loop controls></video>
                                </div>
                                <div class="carousel-item video">
                                    <video src="{{ site.url }}/assets/images/campaignrrss/corpesca/corpesca-video-4.mp4" loop controls></video>
                                </div>
                                <div class="carousel-item">
                                    <img src="{{ site.url }}/assets/images/campaignrrss/corpesca/corpesca-5.png" width="760" height="760" alt="" />
                                </div>
                                <div class="carousel-item">
                                    <img src="{{ site.url }}/assets/images/campaignrrss/corpesca/corpesca-6.png" width="760" height="760" alt="" />
                                </div>
                                <div class="carousel-item">
                                    <img src="{{ site.url }}/assets/images/campaignrrss/corpesca/corpesca-7.png" width="760" height="760" alt="" />
                                </div>
                                <div class="carousel-item">
                                    <img src="{{ site.url }}/assets/images/campaignrrss/corpesca/corpesca-8.png" width="760" height="760" alt="" />
                                </div>
                                <div class="carousel-item">
                                    <img src="{{ site.url }}/assets/images/campaignrrss/corpesca/corpesca-9.png" width="760" height="760" alt="" />
                                </div>
                                 <div class="carousel-item">
                                    <img src="{{ site.url }}/assets/images/campaignrrss/corpesca/corpesca-10.png" width="760" height="760" alt="" />
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#corpesca-slide" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
                            <a class="carousel-control-next" href="#corpesca-slide" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
                        </div>
                    </div>
                    <!-- Fin Campaña -->
