<!-- Campaña-->
                    <div class="grid-item">
                        <div class="thumbnail no-margin-bottom overlay-slide-in-right" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#000000" data-hover-bkg-opacity="0.8">
                            <a href="#lcen-temas" rel="modal:open" class="overlay-link">
                        <img src="{{ site.url }}/assets/images/campaignrrss/lcen-temas/lcen-tema-cultura.png" width="760" height="760" alt="" />
                        <span class="overlay-info">
			                <span>
				               <span>
						            Ver Campaña
				               </span>
			                </span>
		                </span>
                    </a>
                        </div>
                        <div class="info-campaign">
                            <h5 class="name-campaign">Lanzamiento por Temas: La Constitución es Nuestra</h5>
                            <a target="_blank" class="boton-descarga" href="https://gitlab.com/ciudadaniai/campanas/-/raw/main/lcen-temas.zip">Descarga la campaña acá y ayudanos a difundir</a>
                        </div>
                    </div>

                    <!-- Modal Campaña-->
                    <div id="lcen-temas" class="modal">
                        <h4 class="name-campaign">Lanzamiento por Temas: La Constitución es Nuestra</h4>

                       <!-- Slide de imagenes - Campaña-->
                        <div id="lcen-temas-slide" class="carousel slide" data-ride="carousel" data-interval="false">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="{{ site.url }}/assets/images/campaignrrss/lcen-temas/lcen-tema-cultura.png" width="760" height="760" alt="" />
                                </div>
                                <div class="carousel-item">
                                    <img src="{{ site.url }}/assets/images/campaignrrss/lcen-temas/lcen-tema-democracia.png" width="760" height="760" alt="" />
                                </div>
                                <div class="carousel-item">
                                    <img src="{{ site.url }}/assets/images/campaignrrss/lcen-temas/lcen-tema-digital.png" width="760" height="760" alt="" />
                                </div>
                                <div class="carousel-item video">
                                    <img src="{{site.baseurl_root}}/assets/images/campaignrrss/lcen-temas/lcen-tema-derechoscivilesypoliticos.png" width="760" height="760" alt="" >
                                </div>
                                <div class="carousel-item">
                                    <img src="{{ site.url }}/assets/images/campaignrrss/lcen-temas/lcen-tema-educacion.png" width="760" height="760" alt="" />
                                </div>
                                <div class="carousel-item">
                                    <img src="{{ site.url }}/assets/images/campaignrrss/lcen-temas/lcen-tema-genero.png" width="760" height="760" alt="" />
                                </div>
                                <div class="carousel-item">
                                    <img src="{{ site.url }}/assets/images/campaignrrss/lcen-temas/lcen-tema-infancia.png" width="760" height="760" alt="" />
                                </div>
                                <div class="carousel-item">
                                    <img src="{{ site.url }}/assets/images/campaignrrss/lcen-temas/lcen-tema-medioambiente.png" width="760" height="760" alt="" />
                                </div>
                                <div class="carousel-item">
                                    <img src="{{ site.url }}/assets/images/campaignrrss/lcen-temas/lcen-tema-politicafiscalyeconomia.png" width="760" height="760" alt="" />
                                </div>
                                <div class="carousel-item">
                                    <img src="{{ site.url }}/assets/images/campaignrrss/lcen-temas/lcen-tema-pueblos-originarios.png" width="760" height="760" alt="" />
                                </div>
                                <div class="carousel-item">
                                    <img src="{{ site.url }}/assets/images/campaignrrss/lcen-temas/lcen-tema-salud.png" width="760" height="760" alt="" />
                                </div>
                                <div class="carousel-item">
                                    <img src="{{ site.url }}/assets/images/campaignrrss/lcen-temas/lcen-tema-trabajo.png" width="760" height="760" alt="" />
                                </div>
                                <div class="carousel-item">
                                    <img src="{{ site.url }}/assets/images/campaignrrss/lcen-temas/lcen-tema-vivienda.png" width="760" height="760" alt="" />
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#lcen-temas-slide" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
                            <a class="carousel-control-next" href="#lcen-temas-slide" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
                        </div>
                    </div>
                    <!-- Fin Campaña -->
