<!-- Campaña-->
                    <div class="grid-item">
                        <div class="thumbnail no-margin-bottom overlay-slide-in-right" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#000000" data-hover-bkg-opacity="0.8">
                            <a href="#lcen-video" rel="modal:open" class="overlay-link">
                        <img src="{{ site.url }}/assets/images/campaignrrss/lcen-video/portada-video-lcen.png" width="760" height="760" alt="" />
                        <span class="overlay-info">
			                <span>
				               <span>
						            Ver Campaña
				               </span>
			                </span>
		                </span>
                    </a>
                        </div>
                        <div class="info-campaign">
                            <h5 class="name-campaign">Video Lanzamiento: La Constitución es Nuestra</h5>
                            <a target="_blank" class="boton-descarga" href="https://gitlab.com/ciudadaniai/campanas/-/raw/main/lcen-video-lanzamiento.zip">Descarga el video y ayudanos a difundir</a>
                        </div>
                    </div>

                    <!-- Modal Campaña-->
                    <div id="lcen-video" class="modal">
                        <h4 class="name-campaign">Video Lanzamiento: La Constitución es Nuestra</h4>

                       <!-- Slide de imagenes - Campaña-->
                        <div id="lcen-video-slide" class="carousel slide" data-ride="carousel" data-interval="false">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/O7onSo1MNZ0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            </div>
                           <!-- <a class="carousel-control-prev" href="#lcen-video-slide" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
                            <a class="carousel-control-next" href="#lcen-video-slide" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>-->
                        </div>
                    </div>
                    <!-- Fin Campaña -->
