<!-- Campaña-->
                    <div class="grid-item">
                        <div class="thumbnail no-margin-bottom overlay-slide-in-right" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#000000" data-hover-bkg-opacity="0.8">
                            <a href="#tribunal" rel="modal:open" class="overlay-link">
                        <img src="{{ site.url }}/assets/images/campaignrrss/tribunal/tribunal-1.png" width="760" height="760" alt="" />
                        <span class="overlay-info">
			                <span>
				               <span>
						            Ver Campaña
				               </span>
			                </span>
		                </span>
                    </a>
                        </div>
                        <div class="info-campaign">
                            <h5 class="name-campaign">¿Qué rayos hace el TC?</h5>
                            <a target="_blank" class="boton-descarga" href="https://gitlab.com/pedregalux/images2021/-/raw/master/tribunal-constitucional.zip"> Descarga la campaña acá y compártela en tus redes</a>
                        </div>
                    </div>

                    <!-- Modal Campaña-->
                    <div id="tribunal" class="modal">
                        <h4 class="name-campaign">¿Qué rayos hace el TC?</h4>

                       <!-- Slide de imagenes - Campaña-->
                        <div id="tribunal-slide" class="carousel slide" data-ride="carousel" data-interval="false">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="{{ site.url }}/assets/images/campaignrrss/tribunal/tribunal-1.png" width="760" height="760" alt="" />
                                </div>
                                <div class="carousel-item">
                                    <img src="{{ site.url }}/assets/images/campaignrrss/tribunal/tribunal-2.png" width="760" height="760" alt="" />
                                </div>
                                <div class="carousel-item">
                                    <img src="{{ site.url }}/assets/images/campaignrrss/tribunal/tribunal-3.png" width="760" height="760" alt="" />
                                </div>
                                <div class="carousel-item">
                                    <img src="{{ site.url }}/assets/images/campaignrrss/tribunal/tribunal-4.png" width="760" height="760" alt="" />
                                </div>
                                <div class="carousel-item">
                                    <img src="{{ site.url }}/assets/images/campaignrrss/tribunal/tribunal-5.png" width="760" height="760" alt="" />
                                </div>
                                <div class="carousel-item">
                                    <img src="{{ site.url }}/assets/images/campaignrrss/tribunal/tribunal-6.png" width="760" height="760" alt="" />
                                </div>
                                <div class="carousel-item">
                                    <img src="{{ site.url }}/assets/images/campaignrrss/tribunal/tribunal-7.png" width="760" height="760" alt="" />
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#tribunal-slide" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
                            <a class="carousel-control-next" href="#tribunal-slide" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
                        </div>
                    </div>
                    <!-- Fin Campaña -->
