{%- include head.html -%}
{%- include header.html -%}
<body class="home-page">
   <div class="wrapper">
      {{ content }}
   </div>
</body>
{% include newsletter.html %}
{%- include footer.html -%}
</html>
