---
layout: default
---

<!-- Content -->
<div class="content clearfix">
  <!-- Full Width Slider Section -->
  <section class="section-block featured-media page-intro tm-slider-parallax-container">
    <div class="tm-slider-container full-width-slider" data-parallax data-parallax-fade-out data-animation="slide" data-scale-under="1140">
      <ul class="tms-slides">
        <li class="tms-slide" data-image data-force-fit data-overlay-bkg-color="#000000" data-overlay-bkg-opacity="0.35">
          <div class="tms-content">
            <div class="tms-content-inner right">
              <div class="row">
                <div class="column width-12">
                  <h1 class="tms-caption title-medium color-white" data-animate-in="preset:scaleOut;duration:1000ms;" data-no-scale>
                      {{ page.caption }}
                  </h1>
                </div>
              </div>
            </div>
          </div>
          {% if page.img %}
            <img data-src="{{ site.baseurl_root }}/assets/images/blog/{{page.img}}" title="{{ destacada.title }}" class="img-responsive" data-retina src="" />
          {% else %}
            <img data-src="{{ site.baseurl_root }}/assets/images/blog.jpg" data-retina src="" alt="" />
          {% endif %}
        </li>
      </ul>
    </div>
  </section>
    <!-- Full Width Slider Section -->

  <!-- Breadcrum -->
  <div class="section-block pt-50 pb-0">
    <div class="row">
      <div class="column width-12">
        <ul class="breadcrumb mb-50">
          <li>
            <a href="{{ site.baseurl }}/index">Inicio</a>
          </li>
          <li>
            <a href="{{ site.baseurl }}/chile">Chile</a>
          </li>
          <li>
            {{page.title}}
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <!-- Content Inner -->
      <div class="column width-12 content-inner blog-single-post">
        <article class="post">
          <h1> {{page.title}} </h1>
          <div class="post-content content-crisis pb-50">
              <p>{{ page.content }}</p>
          </div>
        </article>
      </div>
      <!-- Content Inner End -->
    </div>
  </div>
</div>
