---
layout: default
---

<section class="section-block featured-media page-intro tm-slider-parallax-container">
   <div class="tm-slider-container full-width-slider" data-parallax data-parallax-fade-out data-animation="slide"
      data-scale-under="1140">
      <ul class="tms-slides">
         <li class="tms-slide" data-image data-force-fit data-overlay-bkg-color="#000000"
            data-overlay-bkg-opacity="0.35">
            <div class="tms-content">
               <div class="tms-content-inner center">
                  <div class="row">
                     <div class="column width-12">
                       <h2 class="tms-caption title-large color-white mb-10"
                         data-animate-in="preset:scaleOut;duration:1000ms;"
                         data-no-scale>
                           <u>{{page.name}} </u>
                       </h2>
                     </div>
                  </div>
               </div>
            </div>
            <img data-src="{{page.hero-image | prepend:site.baseurl_root }}" data-retina src="" alt=""/>
         </li>
      </ul>
   </div>
</section>

<!-- Slider Section -->
<!-- <section class="section-block featured-media window-height tm-slider-parallax-container">
  <div class="tm-slider-container full-width-slider" data-parallax data-parallax-fade-out data-animation="slide" data-scale-under="1140">
    <ul class="tms-slides">
      <li class="tms-slide" data-image data-force-fit data-overlay-bkg-color="#000000" data-overlay-bkg-opacity="0.2">
        <div class="tms-content">
          <div class="tms-content-inner center">
            <div class="row">
              <div class="column width-12">
                <h2 class="tms-caption title-large color-white mb-10"
                  data-animate-in="preset:scaleOut;duration:1000ms;"
                  data-no-scale>
                    <u>{{page.name}} </u>
                </h2>
              </div>
            </div>
          </div>
        </div>
        <img data-src="{{page.hero-image | prepend:site.baseurl_root }}" data-retina src="" alt=""/>
      </li>
    </ul>
  </div>
</section> -->
<!-- Slider Section -->

<!-- Section -->
<div id="brief" class="section-block pt-50 pb-0">
  <div class="row">
    <div class="column width-12">
      <ul class="breadcrumb mb-50">
        <li>
          <a href="{{ site.baseurl }}">Home</a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/projects">{% t projects.projects %}</a>
        </li>
        <li>
          {{page.name}}
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- Section End -->

<!-- About Intro -->
<div class="section-block replicable-content pt-0">
  <div class="row">
    <div class="column width-12">

    </div>
    <div class="column width-4 mb-mobile-50">
      <h4 class="weight-bold mb-30">{{page.name}}</h4>

      <p class="project-attribute">
        <span class="project-label">{% t projects.project.year %}</span><span class="project-value">{{page.year}}</span>
      </p>
      <p class="project-attribute">
        <span class="project-label">{% t projects.project.category %}</span><span class="project-value">{{page.category}}</span>
      </p>
      <p class="project-attribute">
        <span class="project-label">{% t projects.project.site %}</span><span class="project-value">
          {% if page.site %}
            <a href="{{page.site}}" target="_blank">{{page.site}}</a>
          {% else %}
            {% t projects.project.no_available %}
          {% endif %}
      </span></p>
    </div>
    <div class="column width-8">
      <p class="lead text-xlarge color-theme mb-50">
        {{page.description}}
      </p>

    </div>
  </div>
</div>
<!-- About Intro End -->
