---
layout: default
---

<!-- tools -->
<section class="section-block featured-media page-intro tm-slider-parallax-container">
 <div class="tm-slider-container full-width-slider" data-parallax data-parallax-fade-out data-animation="slide"
    data-scale-under="1140">
  <ul class="tms-slides">
    <li class="tms-slide" data-image data-force-fit data-overlay-bkg-color="#000000"
      data-overlay-bkg-opacity="0.35">
      <div class="tms-content">
        <div class="tms-content-inner center">
          <div class="row">
            <div class="column width-12">
              <!-- <h2 class="tms-caption title-small color-white mb-20 center tms-caption-background"
                 data-animate-in="preset:scaleOut;duration:500ms;" data-no-scale>
              </h2> -->
              <div class="column width-12">
                 <h3 class="title-large color-white mb-30 pt-0">
                    <span class="tms-caption color-white" data-animate-in="preset:scaleIn;duration:800ms;delay:200;" data-no-scale> {{page.title}}</span>
                 </h3>
              </div>
              <br>
            </div>
          </div>
        </div>
      </div>
      <img data-src="{{site.baseurl_root}}/assets/images/tools.jpg" data-retina src="" alt="" />
    </li>
  </ul>
 </div>
</section>

<!-- Section -->
<div id="brief" class="section-block pt-50 pb-0">
  <div class="row">
    <div class="column width-12">
      <ul class="breadcrumb mb-50">
        <li>
          <a href="{{ site.baseurl }}">Home</a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/tools.html">{% t tools.tools %}</a>
        </li>
        <li>
          {{page.title}}
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- Section End -->

<!-- About Intro -->
<div class="section-block replicable-content pt-0">
  <div class="row">
    <div class="column width-12">

    </div>
    <div class="column width-4 mb-mobile-50">
      <h4 class="weight-bold mb-30">{{page.title}}</h4>
      <p> {% t tools.call_to_action %}</p>
      <p> {% t tools.contact_us %} <a href="mailto:herramientas@ciudadaniai.org">herramientas@ciudadaniai.org</a> </p>
      <!-- <br>
      <p class="project-attribute">
        <span class="project-label">{% t projects.project.category %}</span><span class="project-value">{{page.category}}</span>
      </p> -->
    </div>
    <div class="column width-8">
      <p class="lead color-theme mb-50">
        {{page.intro}}
      </p>

      <div class="tool-content">
        {{page.content}}
      </div>

    </div>
  </div>
</div>
<!-- About Intro End -->
