<!-- Sobre Ciudadania -->
<section id="sobreciudadania" class="section-block center">
    <div class="row flex">
        <div class="column width-8 offset-2">
            <div class="feature-content">
                <div class="feature-content-inner center-on-mobile horizon" data-animate-in="preset:slideInUpShort;duration:900ms;delay:300ms;" data-threshold="0.6">
                    <h2 class="mb-20">{% t home.about.title %}</h2>
                    <p class="lead">{% t home.about.content%}</p>
                    <a href="{{ site.baseurl }}/about" class="button rounded bkg-colectiva bkg-hover-pink color-white color-hover-white hvr-grow">{% t home.about.button%}</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Sobre Ciudadania End -->
