<!-- Content Inner -->
<div id="blog" class="section-block pb-60 bkg-grey-ultralight">
  <div class="row">
     <div class="column width-12 center">
        <h2 class="mb-0 hvr-underline-from-center">{% t home.blog.title %}</h2>
     </div>
  </div>
</div>

<div class="section-block content-inner pt-0 pb-0 bkg-grey-ultralight">
    <div class="grid-container fade-in-progressively" data-grid-ratio="1.5" data-animate-resize data-animate-resize-duration="700">
        <div class="row">
            <div class="column width-12">
                <div class="content-grid-3 clearfix">
                  {% for post in site.posts offset: 0 limit: 3  %}
                    <div class="grid-item grid-sizer">
                        <article class="post">
                            <div class="post-content">
                                <div class="post-media">
                                    <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#000000" data-hover-bkg-opacity="0.5">
                                      {% if post.img %}
                                        <a class="overlay-link" href="{{ post.url | prepend: site.baseurl }}">
                                        <img src="{{site.baseurl_root}}/assets/images/blog/{{post.img}}" alt="{{ destacada.title }}" title="{{ destacada.title }}" />
                                              <span class="overlay-info">
                                              <span>
                                              <span>
                                              <span>{% t home.blog.more %}</span>
                                              </span>
                                              </span>
                                              </span>
                                          </a>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="with-background">
                                    <div class="post-info">
                                        <span class="post-date show-on-mobile">{{post.day}}/{{post.month}}/{{post.year}}</span><span class="post-category">{{post.categories}}</span>
                                    </div>
                                    <h2 class="post-title">
                                      <a href="{{site.baseurl}}{{post.url}}">
                                        {{ post.title }}
                                      </a>
                                    </h2>
                                    <p>{{post.intro}}</p>
                                    <a href="{{ post.url | prepend: site.baseurl }}" class="hvr-underline-from-center size-14"> {% t home.blog.more %}</a>

                                </div>
                            </div>
                        </article>
                    </div>
                  {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-block pt-0 pb-60 bkg-grey-ultralight">
    <div class="row flex">
        <div class="column width-12 center">
            <a href="{{ site.baseurl }}/blog" class="button rounded bkg-colectiva bkg-hover-pink color-white color-hover-white hvr-grow">{% t home.blog.button %}</a>
        </div>
    </div>
</div>
<!-- More End -->
