<!-- intagram -->
<div class="section-block pb-0 bkg-white">
  <div class="row">
     <div class="column width-12 center">
        <h2 class="mb-50 hvr-underline-from-center"> {% t home.instagram.title %}</h2>
     </div>
  </div>
</div>
<div class="section-block pt-0 pb-50">
    <div class="row full-width collapse">
        <div class="column width-12 center">
          <!-- LightWidget WIDGET --><script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="https://cdn.lightwidget.com/widgets/578cf37520175aa68d9f2805d88f343d.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
        </div>
    </div>
</div>
<!-- instagram End -->
</div>
<!-- Content End -->
