<!-- Client Section -->
<div id="colaboraciones">

    <div class="row">
       <div class="column width-12 center pt-40">
          <h2 class="mb-0 hvr-underline-from-center">{% t home.sec_colaboran.title %}</h2>
       </div>
    </div>
    <!-- Logo 4 Section -->
    {% include support.html %}

</div>
<!-- Client Section End -->
